$color: var(--text-color);

.spinner {
  position: relative;
  transform: rotate(45deg);
  width: 65px;
  height: 65px;
}

.spinner,
.spinner * {
  box-sizing: border-box;
}

.spinner .rhombus {
  position: absolute;
  top: calc(65px / 2.3077);
  left: calc(65px / 2.3077);

  width: calc(65px / 7.5);
  height: calc(65px / 7.5);

  background-color: $color;

  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

.spinner .rhombus:nth-child(2n + 0) {
  margin-right: 0;
}

.spinner .rhombus.child1 {
  animation-name: spinner-animation-child-1;
  animation-delay: calc(100ms * 1);
}

.spinner .rhombus.child2 {
  animation-name: spinner-animation-child-2;
  animation-delay: calc(100ms * 2);
}

.spinner .rhombus.child3 {
  animation-name: spinner-animation-child-3;
  animation-delay: calc(100ms * 3);
}

.spinner .rhombus.child4 {
  animation-name: spinner-animation-child-4;
  animation-delay: calc(100ms * 4);
}

.spinner .rhombus.child5 {
  animation-name: spinner-animation-child-5;
  animation-delay: calc(100ms * 5);
}

.spinner .rhombus.child6 {
  animation-name: spinner-animation-child-6;
  animation-delay: calc(100ms * 6);
}

.spinner .rhombus.child7 {
  animation-name: spinner-animation-child-7;
  animation-delay: calc(100ms * 7);
}

.spinner .rhombus.child8 {
  animation-name: spinner-animation-child-8;
  animation-delay: calc(100ms * 8);
}

.spinner .rhombus.big {
  top: calc(65px / 3);
  left: calc(65px / 3);

  width: calc(65px / 3);
  height: calc(65px / 3);

  background-color: $color;

  animation: spinner-animation-child-big 2s infinite;
  animation-duration: 2000ms;
  animation-delay: 0.5s;
}

@keyframes spinner-animation-child-1 {
  50% {
    transform: translate(-325%, -325%);
  }
}

@keyframes spinner-animation-child-2 {
  50% {
    transform: translate(0, -325%);
  }
}

@keyframes spinner-animation-child-3 {
  50% {
    transform: translate(325%, -325%);
  }
}

@keyframes spinner-animation-child-4 {
  50% {
    transform: translate(325%, 0);
  }
}

@keyframes spinner-animation-child-5 {
  50% {
    transform: translate(325%, 325%);
  }
}

@keyframes spinner-animation-child-6 {
  50% {
    transform: translate(0, 325%);
  }
}

@keyframes spinner-animation-child-7 {
  50% {
    transform: translate(-325%, 325%);
  }
}

@keyframes spinner-animation-child-8 {
  50% {
    transform: translate(-325%, 0);
  }
}

@keyframes spinner-animation-child-big {
  50% {
    transform: scale(0.5);
  }
}
