@import '@/shared/styles/mixins';

.button {
  @include breakpoint(laptop) {
    font-size: 16px;
    letter-spacing: 0;
  }

  display: flex;
  gap: 10px;
  align-items: center;

  font-weight: inherit;
  color: inherit;
  letter-spacing: 0.4px;
}

.icon {
  @include flex-center;

  &Outline {
    svg {
      stroke: var(--text-color);
    }
  }

  &Solid {
    svg {
      fill: var(--text-color);
    }
  }

  svg {
    width: 18px;
    height: 18px;
  }
}
